@import url("Colors.css");

@font-face {
    font-family: Hack-Bold;
    src: url("Fonts/HackNerdFont-Bold.ttf");
}
@font-face {
    font-family: Hack;
    src: url("Fonts/HackNerdFont-Regular.ttf");
}

body {
    margin:0;
}

html{
    background-color: var(--lightBackground);
}

h1 {
    font-family: Hack;
    color: var(--white);
    font-size: 28px;
}
h2 {
    font-family: Hack;
    color: var(--white);
    font-size: 22px;
}
p {
    font-family: Hack;
    color: var(--white);
    font-size: 16px;
}
input:hover{
    color: var(--accent) !important;
}

#sideScroll {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;
    background-color: var(--background);
}

#sideScrollold {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - 20px *2);


    overflow-x: scroll;
    scroll-snap-type: x proximity;

    background-color: var(--background);
}

#sideScroll::before,
#sideScroll::after {
    content: '';
    width: 10px;
}

#sideScroll div{
    flex: 0 0 auto;
    width: 500px;
    margin: 5px;
}

#sideScroll div img {
    max-width: 100%;
    object-fit: contain;
}

.scrollContainer {
    overflow: hidden;
    padding: 20px;
}

#PreviewProjContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#PreviewProjItem {
    background: linear-gradient(180deg, var(--background) 0%, var(--lightBackground) 90%, var(--background) 100%);;
    height: 400px;
    width: 340px;
    box-sizing:content-box;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

#PreviewProjItem input {
    font-family: Hack;
    font-size: 16px;
    width: 100%;
    background: none;
    border: none;
    color: var(--white);
    padding-top: 10px;
}

#PreviewProjItem img {
    width: 300px;
    height: 300px;
}
#HeaderDiv {
    background-color: var(--background);
    text-align: center;
    position:sticky;
    width: 100%;
    height: 60px;
    top:0;
    left:0;
    margin:0;
}


#TitleHeaderDiv {
    float: left;
    padding-left: 20px;
    width: calc(80% - 20px);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#TitleHeaderDiv h1 {
    font-family: Hack;
    font-size: 32px;
    color: var(--white);
}

#ButtonHeaderDiv {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#ButtonHeaderDiv input {
    border: 0px;
    font-family: Hack;
    font-size: 16px;
    height: 100%;
    width: 40%;
    background-color: var(--background);
    border-color: var(--background);
    color: var(--white);
}

.aboutImg {
    height: 500px;
    width: 500px;
    display: inline;
}
.aboutTxt {
    display: flex;
    align-content: start;
}

#Icons {
    display: flex;
    float:left;
    margin-left: 10px;
}

#Icons div{
    width: 2.5rem;
    padding-right: 10px;
}
#Icons div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#Icons div a img {
    width: 100%;
    filter: invert(98%);
}
#Icons div a img:hover {
    filter: invert(1) brightness(50%) sepia(100%) saturate(210%) hue-rotate(50deg);
}



