@import url("Colors.css");

@font-face {
    font-family: Hack-Bold;
    src: url("Fonts/HackNerdFont-Bold.ttf");
}
@font-face {
    font-family: Hack;
    src: url("Fonts/HackNerdFont-Regular.ttf");
}

body {
    background-color: var(--lightBackground);
    margin:0;
}

h1 {
    font-family: Hack;
    color: var(--white);
    font-size: 24px;
}


.scrollContainer {
    overflow: hidden;
    padding: 20px;
}

#PreviewProjContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#PreviewProjItem {
    background: linear-gradient(180deg, var(--background) 0%, var(--lightBackground) 90%, var(--background) 100%);;
    height: 400px;
    flex: 1 0 340px;
    box-sizing:content-box;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

#PreviewProjItem button {
    font-family: Hack;
    font-size: 16px;
    width: 100%;
    height: 24px;
    background: none;
    border: none;
    color: var(--white);
    padding-top: 10px;
}

#PreviewProjItem img {
    width: 300px;
    height: 300px;
}
#HeaderDiv {
    background-color: var(--background);
    text-align: center;
    position:sticky;
    width: 100%;
    height: 60px;
    top:0;
    left:0;
    margin:0;
}


#TitleHeaderDiv {
    float: left;
    padding-left: 20px;
    width: calc(80% - 20px);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#TitleHeaderDiv h1 {
    font-family: Hack;
    font-size: 32px;
    color: var(--white);
}

#ButtonHeaderDiv {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#ButtonHeaderDiv button {
    border: 0px;
    font-family: Hack;
    font-size: 16px;
    height: 100%;
    width: 40%;
    background-color: var(--background);
    border-color: var(--background);
    color: var(--white);
}



